@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.register {
    height: 615px;
    width: 320px;
    font-family: 'Roboto', sans-serif;
}

.register-top {
    width: 100%;
    height: calc(30% - 20px);
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #333;
}

.register-logo {
    height: 100%;
}

.register-bottom {
    width: 100%;
    height: calc(70% - 10px);
    padding-top: 10px;

    display: block;
    align-content: center;
    justify-content: center;
    background-color: #DFDFDF;
}

.register-label {
    font-size: 24px;
    color: #884488;
    font-weight: 700;

    width: 100%;
    padding-left: 10px;
}

.register-input {
    height: 50px;
    width: calc(100% - 30px);
    margin-left: 10px;
    font-size: 20px;
}

.register-button {
    height: 50px;
    width: 250px;
    margin-top: 15px;

    font-size: 24px;
    color: #FFF;
    font-weight: 700;

    background-color: #884488;
    border-radius: 40px;
    border: 2px #000 solid;

    position: relative;
    left: calc(50% - 125px);
}